/* Post list */
#posts {
    font-family: "Malgun Gothic", "AppleGothic", "Gulim", "Dotum", serif;
}
#posts h2 {
    font-size:1em;
}
.post-list .author,
.post-list .date,
.post-list .no-of-view {
    display:none;
    font-size: 1.2em;
}

.post-list .header {
    padding: 1em;
    background-color: #e2e8ef;
    font-size: 1.2em;
}


.post-list .post:nth-child(even) {
    background-color: #fbfbfb;
}


.post-list .post .title {
    font-size: 1.1em;
}

.post-list .post a {
    display: block;
    padding: .7em 0 .7em 1em;
    font-weight: normal;
}

@media all and ( min-width: 34em ) {
    .post-list .author,
    .post-list .date,
    .post-list .no-of-view {
        display: block;
    }
}


/* eo Post List */


/* Post View */
article .content {
    padding: 1em;
    background-color: #dfdfdf;
}
/* eo Post View */

/** post new */

#post-new {
    /* display: none; */
}

.post-new-button {
    cursor: pointer;
}

/* Post file upload button */

.file-upload {
    position: relative;
    width: 200px;
    height: 32px;
    overflow: hidden;
    background-color: #e9e9e9;
}
.file-upload .dashicons-camera:before {
    font-size: 2em;
}
.file-upload .text {
    padding: 1em;
    font-size: 1.2em;
}
.file-upload input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 32px;
    font-size: 2em;
}


#post-new .loader,
.comment-new .loader {
    display: none;
}


#post-new .photos,
.comment-new .photos {
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
.comment-list .comment form .photos .attach,
form .photos .attach {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
}

.photos .attach img {
    width: auto;
    height: auto;
}
.photos .attach .delete {
    position: absolute;
    z-index: 3;
    padding: 6px;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    width: inherit;
    background-color: aliceblue;
    cursor: pointer;
}

.photos .attach:nth-child(even) .delete {
    background-color: #7ba8bf;
}


.files .attach .delete {
    padding-left: 2em;
}
.attach .delete .dashicons-trash {
    font-size: 1.5em;
}


